[submodule "meta/.dotbot"]
  path = meta/.dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "spacemacs/emacs.d"]
  path = spacemacs/emacs.d
  url = https://github.com/syl20bnr/spacemacs
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
