[submodule "meta/.dotbot"]
  path = meta/.dotbot
  url = https://github.com/anishathalye/dotbot
[submodule "emacs/emacs.d"]
  path = emacs/emacs.d
  url = https://github.com/syl20bnr/spacemacs
[submodule "tmux/plugins/tpm"]
  path = tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
[submodule "vim/.vim-plug"]
  path = vim/.vim-plug
  url = https://github.com/junegunn/vim-plug
